/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.app {
  max-width: 576px;
  margin: auto;
  background-color: #fff !important;
  height: 100vh;
  position: relative;
}
.app_container {
  position: sticky;
  top: 0;
  height: 100px;
  background-color: #fff;
  margin-bottom: 80px;
}
.nav_container {
  width: 100%;
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
  align-items: center;
}

.cart_button {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cart_quantity {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
}
.cart_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loyality-login {
  max-width: 500px;
  margin: 20px auto;
  padding: 30px;
  /* border: 2px dashed #d7d4d4; */
  border-radius: 20px;
  background-color: #faf6f6;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.loyality-login_container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login_button {
  width: 100%;
}

.lightButton:hover {
  background-color: var(--primary) !important;
  border: 1px solid var(--primary) !important;
  color: white !important;
}

.text-red {
  color: red !important;
}
.cart_container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #f5f3f3;
  margin-bottom: 10px;
  border-radius: 20px;
}
.cart_product {
  max-width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cart_column {
  flex: 1;
}
.option-item {
  background-color: #e7e7e7;
  width: 164px;
  margin-left: 34px;
  padding: 4px 15px;
  font-weight: 500;
  border-radius: 8px;
  border: 2px solid #d5d5d5;
  cursor: pointer;
  text-align: center;
  transition: box-shadow 0.5s;
  margin-right: 10px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.option-item:hover {
  box-shadow: 5px 5px 9px 0px #e7e7e7;
}

.option-item-active {
  padding: 15px 30px !important;
}

.option-item-container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid; */
  margin-top: 30px;
  max-width: 400px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
} */

.calculated_amount-container {
  border: 2px solid #20b9e3;
  padding: 20px;
  margin-left: 34px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
}

.main-container1 {
  max-width: 500px;
  border: 1px solid #f7f7f7;
  margin: auto;
  border-radius: 20px;
  padding: 30px;
}

.main-container {
  display: flex;
  /* width: 100vw;
  height: 100vh; */
  justify-content: center;
  align-items: center;
}

.input-style {
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #20b9e3;
}

.due-blnce-container {
  text-align: center;
  padding: 20px;
  font-size: 33px;
  margin-left: 16px;
  font-weight: bolder;
  border-radius: 10px;
  color: #c41a1a;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-style {
  background-color: #fed813;
  font-size: 20px;
  border: 1px solid #979797;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}
